@model dynamic
@using FileSystemBAL.Trace.Models;
@using FileSystemUtility.Utilities
@using FileSystemUtility.Models

@if (Model.GetTraceFileList != null && Model.GetTraceFileList.Count > 0)
{
    foreach (TraceFileResults loTraceFileList in Model.GetTraceFileList)
    {
        <tr>
            <td>@loTraceFileList.inSRId</td>
            <td>@loTraceFileList.stEmployeeName</td>
            <td>@loTraceFileList.stEmployeeNumber</td>
            <td>@loTraceFileList.stPPONumber</td>
            <td>@loTraceFileList.stPFNumber</td>
            <td>@loTraceFileList.stMobile</td>
            <td>@loTraceFileList.inStatus</td>
            <td>@loTraceFileList.dtSRdate</td>
            <td class="text-center"><a asp-area="Stores" asp-controller="Room" asp-action="Detail" asp-route-id="@loTraceFileList.unSRId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-eye"></i> </a></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}
