@model FileSystemBAL.User.Models.UserProfile
@{
    Layout = "_LayoutSignup";
}
<h4 class="font-size-18 text-muted mt-2 text-center">File System !</h4>
<p class="mb-5 text-center">Sign up to continue to File System.</p>

<form class="form-horizontal" asp-action="SaveUserProfile" asp-controller="User" asp-area="Admin" novalidate="">
    <input type="hidden" value="7" asp-for="inRole" />
    <div class="mb-3">
        <label class="form-label">Zone Name</label>
        <select id="ddZone" onchange="OnZoneChange();" asp-for="inZoneId" class="form-control" data-placeholder="Choose ..." asp-items="@(new SelectList(Model.ZoneList,"id","value"))">
            <option value="">Select Zone Name</option>
        </select>
        <span asp-validation-for="inZoneId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Division Name</label>
        <select id="ddDivision" onchange="OnDivisionChangeLoadDesk();OnDivisionChangeLoadStore();" asp-for="inDivisionId" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
            <option value="">Select Division Name</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Department Name</label>
        <select id="ddDepartment" onchange="OnSChange();" asp-for="inDepartmentId" class="form-control" data-placeholder="Choose ..." asp-items="@(new SelectList(Model.DepartmentList,"id","value"))">
            <option value="">Select Department Name</option>
        </select>
        <span asp-validation-for="inDepartmentId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Designation Name</label>
        <select id="ddDesignation" asp-for="inDesignationId" class="form-control" data-placeholder="Choose ...">
            <option value="">Select Department Name</option>
        </select>
        <span asp-validation-for="inDesignationId" class="text-danger"></span>
    </div>
    @* <div class="mb-3">
            <label class="form-label">Desk Name</label>
            <select id="ddDesk" asp-for="inDeskid" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                <option value="">Select Zone Name</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Store Name</label>
            <select id="ddStore" asp-for="inStoreId" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                <option value="">Select Store Name</option>

            </select>
        </div>*@
    <input type="hidden" value="0" asp-for="inDeskid" />
    <input type="hidden" value="0" asp-for="inStoreId" />
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input asp-for="stFirstName" type="text" class="form-control" placeholder="First Name">
        <span asp-validation-for="stFirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input asp-for="stLastName" type="text" class="form-control" placeholder="Last Name">
        <span asp-validation-for="stLastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="stEmail" type="text" class="form-control" placeholder="Email">
        <span asp-validation-for="stEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Mobile</label>
        <input asp-for="stMobile" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="stMobile" class="text-danger"></span>
    </div>
    <div class="mb-3 d-none">
        <label class="form-label">Address</label>
        <input asp-for="stAddress" type="text" class="form-control" placeholder="Address">
        <span asp-validation-for="stAddress" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Status</label>
        <select asp-for="inStatus" class="form-control" data-placeholder="Choose ...">
            <option value="">Select Statud</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>
        </select>
    </div>
    <div>
        <div>
            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                Submit
            </button>
            <button type="reset" class="btn btn-secondary waves-effect">
                Cancel
            </button>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/Scripts/Common/Common.js" asp-append-version="true"></script>
    <script type="text/javascript">
    var msGetDivisionDropDown = '@Url.Action("GetDivisionDropdown")';
    var msGetDeskDropDown =  '@Url.Action("GetDeskDropdown")';
    var msGetDesignationDropDown = '@Url.Action("GetDesignationDropDown")';
    var msGetStoreDropDown = '@Url.Action("GetStoreDropdown")';
        $(document).ready(function () {
            OnZoneChange(true);
            OnDivisionChangeLoadDesk(true);
            OnDivisionChangeLoadStore(true);
            OnDepartmentChange(true);
    });
    </script>
    <script src="~/Scripts/Common/Dropdown.js" asp-append-version="true"></script>
}
