@model dynamic
@using FileSystemBAL.IssueFIleHistory.Models
@using FileSystemUtility.Utilities
@using FileSystemUtility.Models



@if (Model.GetIssueFileList != null && Model.GetIssueFileList.Count > 0)
{
    foreach (IssueFileListResult loIssueFileList in Model.GetIssueFileList)
    {
        <tr>
            <td>@loIssueFileList.stFirstName</td>
            <td>@loIssueFileList.stDepartmentName</td>
            <td>@loIssueFileList.stFileName</td>
             <td>@Enum.GetName(typeof(CommonFunctions.FilsStatus),loIssueFileList.inStatus)</td>
            @{
                DateTime dtIssueDate = Convert.ToDateTime(loIssueFileList.dtIssueDate);
            }
            <td> @dtIssueDate.Date.ToString("dd MMM', 'yyyy")</td>
            @if (loIssueFileList.inStatus == (int)CommonFunctions.FilsStatus.Accepted)
            {
                <td></td>
            }
            else
            {
            <td class="text-center"><a asp-area="DeskOP" asp-controller="AssignFile" asp-action="Detail" asp-route-id="@loIssueFileList.unlssueFileId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-eye"></i></a></td>
            }
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}

